.popup__input {
  margin: 30px 0 0;
  padding: 0 0 8px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.popup__input:last-of-type {
  margin-bottom: 30px;
}
