.profile__about {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: profile__about;
}

@media (max-width: 619px) {
  .profile__about {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
