.profile {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 619px) {
  .profile {
    flex-direction: column;
  }
}
