.header__logo {
  width: 142px;
  height: 33px;
  display: block;
  background: url("../../../images/logo.min.svg") center/cover;
}

@media (max-width: 424px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}
