.profile__add-button {
  margin: 0;
  padding: 0;
  min-width: 150px;
  max-width: 150px;
  height: 50px;
  background: url(./add-button.min.svg) no-repeat center;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
}

@media (max-width: 619px) {
  .profile__add-button {
      width: 100%;
      max-width: 423px;
      background-size: 16px;
  }
}
