.element__image {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .75s ease;
}

@media (max-width: 282px) {
  .element__image {
    margin: 0 auto;
  }
}
