.element__image {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .75s ease;
}

.element__image:hover {
  opacity: .95;
  transform: scale(1.03);
}

@media (max-width: 282px) {
  .element__image {
    margin: 0 auto;
  }
}
