.element__figure {
  margin: 0;
  padding: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.element__figure::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}
