.popup__save-button {
  margin-top: 19px;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.popup__save-button:hover,
.popup__save-button:focus {
  opacity: 0.8;
}

.popup__save-button:active {
  opacity: 0.7;
}

@media (max-width: 619px) {
  .popup__save-button {
    margin-top: 16px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
