.element__info {
  margin: 0;
  padding: 0 19px 0 21px;
  box-sizing: border-box;
  height: 79px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  background: white;
  z-index: 1;
}
