.button {
  margin: 0;
  padding: 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent center no-repeat;
  font-family: 'Inter', 'Arial', sans-serif;
}

.button:hover {
  opacity: 0.6;
}

.button:active {
  opacity: 0.5;
}

.button:disabled {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}
