.button {
  margin: 0;
  padding: 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent center no-repeat;
  font-family: 'Inter', 'Arial', sans-serif;
}

.button:hover,
.button:focus {
  opacity: 0.6;
}

.button:active {
  opacity: 0.5;
}
